<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Show Data</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body>
    <table>
        <tr>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Employee Email ID</th>
            <th>Employee Contact</th>
        </tr>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.eid }}</td>
            <td>{{ employee.ename }}</td>
            <td>{{ employee.eemail }}</td>
            <td>{{ employee.econtact }}</td>   
            <td><a href="/edit/{{employee.id}}">Edit</a></td>
            <td><a href="/delete/{{employee.id}}">Delete</a></td>         
        </tr>
        {% endfor %}
    </table>
</body>

</html>